@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.body {
	font-family: Montserrat, Regular !important;
}

a {
	font-family: Montserrat, Regular !important;
	border: none !important;
	color: #5b5b5b !important;
	font-size: 14px !important;
	text-align: center !important;
	margin-left: -20px !important;
	margin-bottom: 5px !important;
}

.red {
	background-color: red;
}

.yel {
	background-color: yellow;
}

.mat-list-full {
	width: 100%;
	height: 100%;
}

.green,
.mat-icon-green {
	color: #169da0;
}

table {
	width: 100%;
}

.margin-l {
	margin-left: 10px !important;
}

.margin-r {
	margin-right: 10px !important;
}

button {
	font-family: Montserrat, Regular !important;
	font-size: 14px !important;
	background-color: #169da0 !important;
	margin-left: 5px !important;
	color: white !important;
}

button:disabled,
button[disabled] {
	border: 1px outset ButtonFace !important;
	color: GrayText !important;
	cursor: inherit !important;
	background-color: #ddd !important;
	background: #ddd !important;
}
